<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseApplicationId</key>
	<string>Ind4ALgVPaHk9NDFkRMgZWYm4q1ngr7ouD2387GT</string>
	<key>parseClientKey</key>
	<string>dOIxXW8MYQY37X7PhCqtktaEhvsF5Nyu1HjnB8Qj</string>
</dict>
</plist>
